.navbar {
    background-color: #fff539;
    height: 50px;

    .dropdown > a{
        color: #000;
    }

    .message {
        h4 {
            margin-bottom: 30px;
        }
    }

    .withdraw {
        .withdraw-header {
            display: flex;
            justify-content: space-between;
        }

        .withdraw-content {
            margin-top: 20px;
        }

        .withdraw-button {
            width: 120px;
        }
    }

    .rule {
        width: 600px;
        padding: 20px 25px;
    }

    .board {
        width: 500px;
        padding: 15px 25px;
    }
}